@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="http://scloggingportalservice/signalr/hubs"></script>
</head>
<body>
    <div class="data">
    

    </div>
    <script>
        $(function () {
            $.connection.hub.url = 'http://scloggingportalservice';
            var hubProxy = $.connection.loggingHub;
            hubProxy.client.pull = function (message) {
                $(".data").append(message);
            };

            $.connection.hub.start()
                .done(function(){ console.log('Now connected, connection ID=' + $.connection.hub.id); })
                .fail(function(){ console.log('Could not Connect!'); });
        });
        
    </script>
</body>
</html>
