<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=scloggingportalSitecore_core;Integrated Security=False;User ID=sa;Password=XDx7XSDA" />
  <add name="master" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=scloggingportalSitecore_master;Integrated Security=False;User ID=sa;Password=XDx7XSDA" />
  <add name="web" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=scloggingportalSitecore_web;Integrated Security=False;User ID=sa;Password=XDx7XSDA" />
  <add name="analytics" connectionString="mongodb://localhost:27017/scloggingportal_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/scloggingportal_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/scloggingportal_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/scloggingportal_tracking_contact" />
  <add name="reporting" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=scloggingportalSitecore_reporting;Integrated Security=False;User ID=sa;Password=XDx7XSDA" />
</connectionStrings>