@{
    ViewBag.Title = "Solr";
    ViewBag.Active = "solr";
}

@model dynamic

@if (Model != null && !string.IsNullOrEmpty(Model.Status))
{
    <div>@Model.Status</div>
    <br />
}

@using (Html.BeginForm("RebuildSolrIndex", "Solr", FormMethod.Post))
{
    <div class="rebuildsolr-panel">
        <input class="solrbutton" type="submit" value="Rebuild Solr Index" />
    </div>
}

<script type="text/javascript">
    $('.rebuildsolr-panel .solrbutton').on('click', function () {
        $(this).hide();
        $('.rebuildsolr-panel').append('<div>Rebuilding...</div>');
    });
</script>