<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.BeginForm("RebuildSolrIndex", "Solr", FormMethod.Post)
        {
            <input type="submit" value="Rebuild Solr Index" />
        }
    </div>
</body>
</html>
