<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net debug="false">
    <appender name="SCLoggingPortalAppender" type="SC.LoggingPortal.LogAppender.Log4NetMongoAppender">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="SCLoggingPortalAppender"/>
    </root>       
  </log4net>
</configuration>
